.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #252424;

    ul {
        list-style: none;
    }

    .navItems {
        display: flex;
        justify-content: flex-end;

        li {
            margin: 10px 20px;
        }
    }

    .navItems--left {
        justify-content: flex-start;
    }
}
